// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.symptoms{
    .bottom-unit{
        margin-top: 5em;
    }
   .fiever{
       width: 25%;
   }
}
.recomendations{
    background-color: $brand-color;
    h4{
        padding-top: 2em;
    }
    h5{
        color: white;
    }
    p{
        margin-left: 5em;
        color: white;
    }
    span{
        color: #F4CF1B;
    }
}
.call{
    p{
        background-color: #F4CF1B;
    }
}
.test{
    height:14em ;
    background-color: lightcyan;
    h3{
    margin-top: 0;
    padding-top: 1EM;
    }
    button{
width: 30em;
    }
    }

    a.home__title--btn {
        max-width: 30em;
  @include button;
  @include hover();
    }
    i.far.fa-eye {
        margin-top: 10px;
    }
   