.wrapper{
    margin: 2em 10em;
    .steps{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .step{
           .bullet{
               height: 2em;
               width: 2em;
               border-radius: 100%;
               border: 1px solid $brand-color;
               display: inline-block;
               position: relative;
               transition: background-color 500ms;
               line-height: 20px;
               
           } 
        }
    }
    #main{

        background-color: #e9ecef;
        min-height: 15em;
        h3{
            text-align: center;
            padding-top: 2em;
            
        }
        p{
            line-height: 1.5;
            margin-left: 2em;
            margin-right: 2em;
            padding-bottom: 1em;
            text-align: center;
            font: .8em sans-serif;
        }
    }
    button{
        width: 20em;
    }
}

.bullet.completed  {
	color:  white;
	background-color:  #28a745;
}
.bullet.completed::after {
	content: '';
	position: absolute;
	right: -460px;
	bottom: 15px;
	height: 1px;
	width: 460px;
	background-color: #28a745;
}
.main__questionnaire, .main__Resultat {
    text-align: center;
    padding-top: 7em;
}
.barNumber, form {
    border: 3px solid #96c5dc;
    border-radius: 1em;
}
form {
    display: none;
    padding: 2em 4em;
    max-width: 65%;
    margin: 3em auto;
}
.numerotation {
    display: flex;
    justify-content: space-between;
}
.relative {
    position: relative;
    width: 100%;
}
.progressbar {
    height: 2em;
    width: 85%;
    margin-top: 1.5em;
    background-color: #fff;
    border-radius: 25px;
    border: 10px solid #1a519e;
    margin-left: 10%;
}
#file {
    margin-top: 1.5em;
    width: 83.1%;
    margin-left: 10%;
    position: absolute;
    top: 8px;
    right: 5.9%;
}
.numerotation p {
    font-size: 2em;
    font-weight: 700;
    color: #1a519e;
}
.questions p {
    font-weight: 700;
    font-size: 1.5em;
    color: #7f7f7f;
    height: 15vh;
    padding-top: 5%;
}
.answer-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.inputs {
    display: flex;
    justify-content: space-between;
}
.inputs #precedent, .inputs #resultat, .inputs #suivant {
    border: 1px dotted #1a519e;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #1078ad;
}
#resultat, .inputs #suivant {
    border: 1px dotted #1a519e;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #1078ad;
}
#resultat, .inputs #suivant {
    border: 1px dotted #1a519e;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #1078ad;
}