.wrapper{
    margin: 2em 10em;
    .steps{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .step{
           .bullet{
               height: 2em;
               width: 2em;
               border-radius: 100%;
               border: 1px solid $brand-color;
               display: inline-block;
               position: relative;
               transition: background-color 500ms;
               line-height: 20px;
               
           } 
        }
    }
    #main{

        background-color: #e9ecef;
        min-height: 15em;
        h3{
            text-align: center;
            padding-top: 2em;
            
        }
        p{
            line-height: 1.5;
            margin-left: 2em;
            margin-right: 2em;
            padding-bottom: 1em;
            text-align: center;
            font: .8em sans-serif;
        }
    }
    button{
        width: 20em;
    }
}

.bullet.completed  {
	color:  white;
	background-color:  #28a745;
}
.bullet.completed::after {
	content: '';
	position: absolute;
	right: -460px;
	bottom: 15px;
	height: 1px;
	width: 460px;
	background-color: #28a745;
}